#masthead {
  #logo {
    margin-left: 10px;

    img {
      max-height: 40px;
    }
  }

  .navbar-right {
    margin-right: 10px;
  }
}

.dashboard .form-tab-content label {
  font-weight: 700;
}

@media (min-width: 768px) {
  .logo-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
  }
  // sets the home page tabs to use flex rather than columns
  // allows full width if tabs are turned off with feature flipper
  .home-content {
    display: flex;
    justify-content: normal;
    padding: 0 20px;
  }
  .home-tabs-left {
    min-width: 50%;
  }
  .home-tabs-right,
  .home-tabs-left {
    margin: 0 10px;
  }
}

#banner.jumbotron {
  background: image_url("white-cloud-background.jpg") no-repeat;
  background-position: center;
  height: 220px;
  background-color: $gray-lighter;
  border: 0;
  font-family: $primary-font-family;
  margin-bottom: 0;
  text-align: center;

  h1 {
    color: $jumbotron-heading-color;
    font-size: $jumbotron-heading-font-size;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }

  p {
    color: $jumbotron-sub-heading-color;
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  // TODO: Do we need this style or could we fallback on btn-primary
  .btn-sign-up {
    @include button-variant(
      $classic-white,
      $jumbotron-button-background-color,
      $jumbotron-button-background-color
    );
    border-radius: 3px;
    font-size: 0.7em;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer.navbar {
  border-radius: 0;
  font-size: 0.9em;
  min-height: 40px;
  vertical-align: middle;

  p {
    margin: 10px;
    text-align: center;

    strong {
      font-weight: 500;
    }
  }
}

.product-features {
  background: $features-section-background-color;
  border-top: 1px solid $features-section-border-color;
  font-family: $primary-font-family;
  padding: 20px 0 50px;

  .grid-row {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    width: 33.33%;
  }

  .heading {
    color: $gray;
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
  }
}

.graph-container {
  height: 300px; // height must be specified or flot.js raises an error.
  width: 60%; // height must be specified or flot.js raises an error.

  .graph {
    height: 100%;
  }
}

.sidebar {
  .h5 {
    padding: 10px 15px;
  }

  &.maximized {
    .admin-sidebar ul > li a {
      padding-left: 52px;
    }
  }
}

.panel-tab-wrapper {
  margin-top: 5em;
  padding-bottom: 1px;
}

.nav-escape-link {
  margin-top: -30px;
}

.group-user-listing .table td {
  vertical-align: middle;
}

.group-listing .table {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 0 15px;

  td {
    vertical-align: middle;
  }

  ul {
    padding-left: 1em;
  }

  .panel-heading {
    line-height: 2.4em;
  }

  td:nth-child(2),
  th:nth-child(2) {
    text-align: left;
    width: 13em;
  }

  td:nth-child(3),
  th:nth-child(3) {
    text-align: right;
    width: 5em;
  }

  td:nth-child(4),
  th:nth-child(4) {
    text-align: right;
    width: 9em;
  }

  td:nth-child(5),
  th:nth-child(5) {
    text-align: center;
    width: 13em;
  }
}

.group-roles-table {
  td:nth-child(1),
  th:nth-child(1) {
    width: 25%;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 55%;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 20%;
  }
}

.group-workflow-roles-table {
  td:nth-child(1),
  th:nth-child(1) {
    width: 50%;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 50%;
  }
}

.user-workflow-roles-table {
  td:nth-child(1),
  th:nth-child(1) {
    width: 25%;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 25%;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 50%;
  }
}

.full-width-container {
  padding-left: 0;
  padding-right: 0;
}

.list-scope {
  position: relative;

  .list-scope__query {
    padding-right: 1.8em;
  }

  .list-scope__query-wrapper .control-label {
    padding-right: 0.3em;
  }

  .list-scope__reset {
    bottom: 0.4em;
    position: absolute;
    right: 0.5em;
  }
}

.js-typeahead__empty-message {
  padding: 5px 15px;
}

.js-per-page label {
  font-weight: normal;
  padding-right: 0.3em;
}

.callout-danger {
  background-color: #f5f5f5;
  border-color: $brand-danger;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $brand-danger;
  }
}

.logo-set {
  min-height: 320px;

  img {
    display: inline;
    vertical-align: middle;
  }
}

#s2id_collection_thumbnail_id {
  height: auto;
  padding: 0;
}

.hyc-bl-sort > .per_page.form-horizontal {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1em;
}

.hyc-bl-sort > .per_page.form-horizontal::before,
.hyc-bl-sort > .per_page.form-horizontal::after {
  display: table;
  content: " ";
}

.hyc-bl-sort > .per_page.form-horizontal::after {
  clear: both;
}

.select2-container.generic_work_based_near {
  height: auto;
  padding: 0;
}

#users > .panel {
  .panel-body {
    padding-left: 0;
  }

  ul,
  h2,
  h3,
  h4,
  form,
  p {
    padding-left: 15px;
  }
  ul {
    padding-left: 40px;
  }
}

.defaultable-fonts div[class$="_font"] {
  margin-bottom: 0;

  label {
    display: block;
  }
}

.defaultable-fonts div.font-select {
  margin: 0 10px 10px 0;
}

a.restore-default-font,
a.restore-default-color {
  margin-bottom: 2em;
}

a.btn.btn-default.restore-default-color.with-color-hint {
  margin-top: 4em;
}

.defaultable-colors div[class$="_color"] {
  margin-bottom: 0.75em;
}

.representative-media {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  a.restore-default-color {
    margin-top: 2em;
  }

  .defaultable-colors div[class$="_color"] {
    margin-bottom: 2em;
  }
}

#default_images .panel-footer form {
  display: inline-block;
}

@media (max-width: 992px) {
  .product-features {
    .grid-item {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .product-features {
    .grid-item {
      width: 100%;
    }
  }
}

// make sure that URLs don't go outside the container on all work-show pages
.work-show ul.tabular li {
  word-wrap: break-word;
}

// removes the extra whitespace extending past the sides of the page
nav.navbar.navbar-default.navbar-static-top .container-fluid .row {
  margin-left: 0;
  margin-right: 0;
  nav.navbar-nav.col-sm-5 {
    padding-right: 0;
  }
}

//these styles modify the theming for the citations section
div#collapse-citations {
  text-align: left;
  word-wrap: break-word;
}

@media (min-width: 576px) {
  .citations-button .download-pdf-button {
    max-width: 300px;
  }
}

body.public-facing {
  .btn {
    &.btn-primary,
    &.btn-secondary,
    &.btn-danger {
      color: #fff;
    }

    &.btn-primary {
      background-color: #337ab7;
    }
  }
}

// FEATURED COLLECTIONS
@media (max-width: 768px) {
  .admin-show-page
    .collection-title-row-wrapper
    .collection-title-row-content
    .btn.collapse {
    display: none;
  }
}

.dd-item.collapse {
  display: none;
}

.dd-item.dd3-item.featured-item {
  border-top: 0;
  min-height: unset;
  padding: 0;
}

.dd3-handle {
  position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px;
  text-indent: 100px;
  white-space: nowrap; overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -o-linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  background: linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1;
}

.dd3-content .card-body {
  background: transparent;
}

.d-flex {
  display: flex;
}

.collection-highlights img,
.featured-item img {
  border: 0;
  height: 90px;
  width: unset;
}

// .featured-collection-section {
//   border: 1px solid #ccc;
// }

.mb-30 {
  margin-bottom: 30px;
}

.btn-primary.feature {
  margin-left: 4px;
}
//Styles we need access to in the dashboard
.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

// remove a button that appears on the facets menu in the catalog search results
// clicking this button seemingly does nothing
.catalog-index .facets-header > button {
  display: none;
}

// make sure constraints are on only one line, even with markdown
span.constraint-value p, .facet-values p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

// make the facet counts appear at the end of the facet panel
.facet-content .panel-body .facet-values p {
  display: flex;
  justify-content: space-between;
}

// button to remove a filter should be red instead of white
.remove.dropdown-toggle .fa.fa-remove {
  color: #c4302b;
}

// style the analytics button to match citations button
#stats {
  @media (min-width: 576px) {
    max-width: 300px;
  }
}

#download-pdf-button {
  margin: 10px 0 10px 0;
}

.catalog_startOverLink {
  font-size: 1.15em;
  font-weight: bold;
}

// collection show page styles

.space-between {
  align-items: center;
  justify-content: space-between;
}

.hyc-banner {
  padding: 15px;
  .hyc-bugs .hyc-created-by,
  .hyc-bugs .hyc-last-updated,
  .hyc-title {
    padding: 0;
  }

  .hyc-item-count {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 0.5em;
    color: #333;
    margin: 0;
    padding: 10px;
  }

  .hyc-bugs div,
  div {
    position: relative;
  }
}

// these margin classes can be removed when Hyku is eventually updated to Bootstrap 4 upon upgrading to Hyrax 4.
// These correspond directly to bootstrap 4 classes.

.mb-0 {
  margin-bottom: 0;
}

.mt-5 {
  margin-top: 3em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.mb-5 {
  margin-bottom: 3em;
}

.mx-3 {
  margin-right: 1em;
  margin-left: 1em;
}

.ml-auto {
  margin-left: auto;
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.py-4 {
  padding-bottom: 2em;
  padding-top: 2em;
}

.d-block {
  display: block;
}

// hide iiif-print feature flipper

tr[data-feature="use-iiif-print"] {
  display: none;
}

// collection branding thumbnail
.branding-thumbnail-row {
  border-top: solid 1px #dddddd;
  padding-top: 10px;
}

.branding-thumbnail-input {
  text-align: right;
  width: 250px;

  input {
    text-align: left;
  }
}

.branding-thumbnail-remove,
.branding-thumbnail-remove:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: $brand-danger;
  font-weight: normal;
  text-decoration: underline;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0L1.25 1.5 3.75 4 1.25 6.5 2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

// OVERRIDE Hyrax v5.0.1 to fix sidebar position
.sidebar {
  padding-bottom: calc(2rem + 3rem);
  position: fixed;
  height: 100%;
  overflow-x: hidden;

  &.maximized {
    .sidebar-toggle {
      transition: 0.1s;
      position: fixed;
      left: 252px;
    }
  }

  .sidebar-toggle {
    position: fixed;
    left: 32px;
    transition: 0.1s;
  }
}
