<% if presenter.representative_id.present? && presenter.representative_presenter.present? %>
  <%# logic to determine which viewer appears is defined in: %>
  <%# pdf_js_helper, work_show_presenter, and tenant_config %>
  <% if defined?(viewer) && viewer && presenter.iiif_viewer?%>
    <div class="center-block">
      <%= iiif_viewer_display presenter %>
    </div>
  <% elsif presenter.show_pdf_viewer? %>
    <div class="center-block">
      <%= render 'pdf_js', file_set_presenter: presenter.file_set_presenters.first %>
    </div>
  <% else %>
    <div class="center-block">
      <%= render media_display_partial(presenter.representative_presenter), file_set: presenter.representative_presenter %>
    </div>
  <% end %>

<% else %>
  <% alt = block_for(name: 'default_work_image_text') || 'Default work thumbnail' %>
  <%= image_tag default_work_image, class: "canonical-image center-block", alt: alt %>
<% end %>
